.container {
  padding: 0 var(--container-padding);
}

@media(min-width: 992px) {
  .container {
    background-color: var(--white);
    border-left: 1px solid var(--transparent-black-dark);
    border-right: 1px solid var(--transparent-black-dark);
    box-shadow: 0 1px 8px var(--transparent-black-dark);
    margin: 0 auto;
    max-width: 960px;

    h1 {
      margin-top: 0;
    }
  }
}
