.faceBookWrapper {
  padding-left: 2rem;

  // force share button width
  // TODO figure out why it wont take regular width settings
  iframe {
    width: 300px !important;
  }
}

@media(min-width: 992px) {
  .faceBookWrapper {
    // TODO trying to keep navigation form shifting
    min-width: 160px;
    padding-left: 2rem;
    padding-top: 2rem;
  }
}
