.menu-open {
  .menu-button a {
    top: .6rem;
  }
}
.menu-button {
  border: 1px solid black;
  border-radius: 8px;
  padding: .5rem;
  min-height: 1.5rem;

  a {
    display: block;
    position: relative;

    span {
      height: 2px;
      margin-bottom: .5rem;
      width: 100%;
      background: black;
      display: block;

      &.menu-open {
        transform: rotate(45deg);
        position: absolute;

        &:last-child {
          transform: rotate(-45deg);
        }
      }

      &.menu-closed {
        // background: blue;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

@media(min-width: 768px) {
  .menu-button {
    padding: .8rem;
  }
}