.hero {
  overflow: hidden;
  border-bottom: 5px solid #afa62f;

  .img-wrapper {
    img {
      display: block;
    }
  }
}

@media(min-width: 992px) {
  .hero {
    .img-wrapper {
      height: 280px;
    }
  }
}