.imageGallery {
  background: #fafafa;
  padding: 1rem;

  .galleryContainer {
    border: 1px solid #cacaca;
    padding: 1rem;
    margin: 1rem .5rem;
  }

  .img {
    display: block;
    max-width: 100%;
  }

  .ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.6;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
    box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
    text-shadow: 0 1px 0 rgb(0 0 0 / 50%);
    -webkit-transition: background-color 0.3s ease-in-out, -webkit-box-shadow 1s ease-in-out;
    transition: background-color 0.3s ease-in-out, -webkit-box-shadow 1s ease-in-out;
    -moz-transition: box-shadow 1s ease-in-out, background-color 0.3s ease-in-out;
    transition: box-shadow 1s ease-in-out, background-color 0.3s ease-in-out;
    transition: box-shadow 1s ease-in-out, background-color 0.3s ease-in-out, -webkit-box-shadow 1s ease-in-out;
    color: #fff;
    background-color: #9b932a;
    border-color: #5f5a1a;
    text-decoration: none;
    border-radius: 0;
    transition: all .5s ease-in-out;
    width: 100%;

    &.disabled {
      color: #666;
      opacity: .7;
      text-shadow: none;
    }
  }

  .nav {
    .ul {
      display: flex;
      flex-wrap: nowrap;
      overflow: hidden;

      .li {
        width: 50%;
        
        .a {
          display: block;
        }
      }
    }
  }

  .lightBox {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    display: fixed;
  }
}

@media (min-width: 992px) {
  .imageGallery {
    border-left: 1px solid #c9c9c9;
    border-right: 1px solid #c9c9c9;
  }
}