@import '../node_modules/normalize-scss/sass/normalize';

html {
  margin: 0;
  padding: 0;
}

body {
  background: #fafafa url('/images/topography.png') center center repeat;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans',Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 1rem;
  color: #262512;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin-top: 0;
}

p {
  &:last-of-type {
    margin-bottom: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Do Hyeon,Helvetica,sans-serif;
  color: #402f1d;
  line-height: 1.2;
  margin-bottom: 10px;
}

a {
  color: #337ab7;
}

h1 {
  font-size: 1.7rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.3rem;
}

h6 {
  font-size: 1.2rem;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.6;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
  transition: box-shadow 1s ease-in-out,background-color .3s ease-in-out;
  color: #fff;
  background-color: #9b932a;
  border-color: #5f5a1a;
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}