.header-nav {
  overflow: hidden;

  // open state for mobile navigation
  &.menu-open {
    .secondary-nav {
      max-height: 1000px;
    }
  }

  // general nav styles
  nav {
    background: #736d1f;
    border: 1px solid #595418;
    border-left: none;
    border-right: none;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      line-height: 1rem;
      padding: 1.3rem 1rem;
      border-bottom: 1px solid rgba(0,0,0,.3);
    }
  }

  a {
    color: white;
    text-decoration: none;
  }

  // logo and home link
  .main-nav {
    display: flex;

    li {
      flex-grow: 1;
    }
  }

  // links to other pages
  .secondary-nav {
    transition: all .5s ease-in-out;
    max-height: 0;
    
    li {
      border-bottom: none;
    }
  }

  .logo {
    color: #e8e3d8;
    text-shadow: 0 1px 0 rgba(0,0,0,.4);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.4;
  }
  
  .dropdown {
    text-align: right;
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-width: 50px;
  }
}

@media(min-width: 414px) {
  .header-nav {
    .logo {
      font-size: 1.4rem;
    }
  }
}

@media(min-width: 768px) {
  .header-nav {
    .logo {
      font-size: 2rem;
    }

    .dropdown {
      max-width: 60px;
    }
  }
}

@media(min-width: 992px) {
  .header-nav {
    .dropdown {
      display: none;
    }
  
    .nav,
    nav {
      background: #736d1f;
      display: flex;
    }
  
    .nav li a {
      color: #e8e3d8;
      font-weight: 400;
    }
    .nav li a:hover {
      color: #fafafa;
      text-decoration: underline;
    }
  }
}