.header-nav {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    line-height: 1rem;
    padding: 1.5rem 1rem;
    border-bottom: 1px solid rgba(0,0,0,.3);
  }
  
  .main-nav {
    display: flex;
  }
  
  .main-nav li {
    flex-grow: 1;
  }
  
  nav {
    background: #736d1f;
    border: 1px solid #595418;
    border-left: none;
    border-right: none;
  }
  
  .nav {
    background: #fafafa;
    display: none;
  }
  
  .nav.menu-open {
    display: block;
  }
  
  .logo {
    color: #e8e3d8;
    text-shadow: 0 1px 0 rgba(0,0,0,.4);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
  }
  
  .dropdown {
    text-align: right;
  }
  
  i {
    color: #e8e3d8; 
  }
  
  li a:not(.logo) {
    text-decoration: none;
    color: #595418;
    font-weight: 700;
  }
  
  .nav li a.active {
    font-weight: 700;
    text-decoration: underline;
  }
}


@media(min-width: 992px) {
  .header-nav {
    .dropdown {
      display: none;
    }
  
    .nav,
    nav {
      background: #736d1f;
      display: flex;
    }
  
    .nav li a {
      color: #e8e3d8;
      font-weight: 400;
    }
    .nav li a:hover {
      color: #fafafa;
      text-decoration: underline;
    }
  }
}