.side-hug {
  padding-top: 2rem;
  padding-bottom: 2rem;

  .img-wrapper {
    margin-left: -1rem;
    margin-right: -1rem;

    img {
      display: block;
    }
  }

  .container {
    border-top: 5px solid #afa62f;
  }
}

@media(min-width: 768px) {
  .side-hug {
    .img-wrapper {
      display: none;
    }
  }
}

@media(min-width: 992px) {
  .side-hug {
    padding-top: 0;
    padding-bottom: 0;

    .flex {
      display: flex;
      align-items: center;
    }
  
    .col {
      width: 50%;
    }

    .img-wrapper {
      margin-left: 0;
      margin-right: 0;
      display: block;
    }
  }
}