.section {
  background: #fafafa;
  padding: 1rem;
} 

.container {
  width: unset;
}

.ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 1rem 0;
} 

@media(min-width: 768px) {
  .flex {
    display: flex;
  }

  .item {
    width: 50%;
  }

  .img {
    display: block;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .section {
    border-left: 1px solid #c9c9c9;
    border-right: 1px solid #c9c9c9;
  }
}
