.mainNavigation {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  clear: both;
}

.mainNavigationClosed {
  list-style-type: none;
  padding-left: 0;
  height: 0;
  overflow: hidden;
  margin: 0;
}

.mobileNavWrapperClosed {
  border: 1px solid black;
  border-radius: 8px;
  padding: .5rem;
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  float: right;
}

.mobileMenu {
  width: 100%;
  height: 100%;
}

.mobileNavWrapperOpen {
  border: 1px solid blue;
  border-radius: 8px;
  padding: .5rem;
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  float: right;
}

.mobileNavBar {
  height: 2px;
  margin-bottom: .5rem;
  width: 100%;
  background: black;
  display: block;
}

.mobileNavBarOpen {
  height: 2px;
  margin-bottom: .5rem;
  width: 100%;
  background: black;
  display: block;
  transform: rotate(45deg);
  position: absolute;
}

.mobileNavBarOpen:last-child {
  transform: rotate(-45deg);
}